__pycache__/
notebooks/.ipynb_checkpoints/

.idea/
*.zip

checkpoints/
deid-wikibio/
embeddings/
experiments/
lightning_logs/
logs/
nearest_neighbors/
notebooks/*.cache
notebooks/
results/
saves/
wandb/
*.csv
models_weights/
deid_on_weill/
